<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<form method="get">
		<table style="width:100%">
			<thead>
				<caption>
					<h2>
						Reviews for<br></h2>
					<h3>
						<span th:text="${book.getTitle()}" />
					</h3>
				</caption>
				<th>View</th>
				<th>Author</th>
				<th>Created</th>
				<th>Updated</th>
				<th>Rating</th>
			</thead>
			<tbody>
				<tr th:each="review: ${bookReviews}">
					<td><button type="submit" th:formaction="@{/review/details/{id}(id=${review.id()})}">✔️</button>
					</td>
					<td style="text-align:center" th:text="${review.customer().getName()}" />
					<td style="text-align:center"
						th:text="${#temporals.format(review.createdTime(),'dd.MM.yyyy HH:mm:ss')}" />
					<td style="text-align:center"
						th:text="${#temporals.format(review.updatedTime(),'dd.MM.yyyy HH:mm:ss')}" />
					<td style="text-align:center" th:text="${review.rating()}" />
				</tr>
			</tbody>
		</table>
		<p style="vertical-align:bottom">
			<button style="text-align:center" type="submit" th:formaction="@{/review/view}"
				formnovalidate>Back</button>
		</p>
	</form>
</body>

</html>