<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<form method="get">
		<table style="width:100%">
			<thead>
				<caption>
					<h2>Book list</h2>
				</caption>
				<th>Edit</th>
				<th>Delete</th>
				<th style="min-width:140px">
					Author
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=author,order=asc)}">▲</a>
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=author,order=desc)}">▼</a>
				</th>
				<th>
					ISBN
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=isbn,order=asc)}">▲</a>
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=isbn,order=desc)}">▼</a>
				</th>
				<th style="min-width:130px">Published
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=publishDate,order=asc)}">▲</a>
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=publishDate,order=desc)}">▼</a>
				</th>
				<th>Title
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=title,order=asc)}">▲</a>
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=title,order=desc)}">▼</a>					
				</th>
				<th style="min-width:140px">Country
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=country.name,order=asc)}">▲</a>
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=country.name,order=desc)}">▼</a>					
				</th>
				<th style="min-width:140px">Language
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=language.name,order=asc)}">▲</a>
					<a style="text-decoration:none"
						th:href="@{/book/browse(page=${navigation.current},sort=language.name,order=desc)}">▼</a>					
				</th>
			</thead>
			<tbody>
				<tr th:each="book: ${bookList}">
					<td style="text-align:center"><button type="submit" th:formaction="@{/book/edit/{id}(id=${book.getId()})}">✔️</button></td>
					<td style="text-align:center"><button type="submit" th:formaction="@{/book/delete/{id}(id=${book.getId()})}">❌</button></td>
					<td th:text="${book.getAuthor()}" />
					<td th:text="${book.getIsbn()}" />
					<td th:text="${book.getPublishDate()}" />
					<td th:text="${book.getTitle()}" />
					<td th:text="${book.getCountry().getName()}" />
					<td th:text="${book.getLanguage().getName()}" />
				</tr>
			</tbody>
		</table>
		<p style="vertical-align:bottom">
			<button type="submit" th:formaction="@{/book/add}">Add book</button>
			<button type="submit" th:formaction="@{/}" formnovalidate>Back</button>
			<a style="text-decoration:none"
				th:href="@{/book/browse(page=${navigation.first},sort=${navigation.sort},order=${navigation.order})}">⏮</a>
			<a style="text-decoration:none"
				th:href="@{/book/browse(page=${navigation.previous},sort=${navigation.sort},order=${navigation.order})}">⏪</a>
			<a style="text-decoration:none"
				th:href="@{/book/browse(page=${navigation.next},sort=${navigation.sort},order=${navigation.order})}">⏩</a>
			<a style="text-decoration:none"
				th:href="@{/book/browse(page=${navigation.last},sort=${navigation.sort},order=${navigation.order})}">⏭</a>
		</p>
	</form>
</body>

</html>