<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<form th:object="${book}">
		<fieldset>
			<legend>Book details</legend>

			<label for="author">Author</label>
			<input id="author" type="text" th:field="*{author}" />
			<br>

			<label for="title">Title</label>
			<input id="title" type="text" th:field="*{title}" />
			<br>

			<label for="isbn">ISBN</label>
			<input id="isbn" type="text" th:field="*{isbn}" />
			<br>

			<label for="published">Published</label>
			<input id="published" type="date" th:field="*{publishDate}" />
			<br>

			<label for="genre">Genre</label>
			<select id="genre" th:field="*{genre}">
				<option th:each="genre: ${genreList}" th:value="${genre}" th:text="${genre}" />
			</select>
			<br>

			<label for="country">Country</label>
			<select id="country" th:field="*{country}">
				<option th:each="country: ${countryList}" th:value="${country}" th:text="${country.name}" />
			</select>
			<br>

			<label for="language">Language</label>
			<select id="language" th:field="*{language}">
				<option th:each="language: ${languageList}" th:value="${language}" th:text="${language.name}" />
			</select>
			<br>

			<label for="pageCount">Page count</label>
			<input id="pageCount" type="number" th:field="*{pageCount}" />
			<br>

			<label for="size" />Size</label>
			<select id="size" th:field="*{size}">
				<option th:each="size: ${sizeList}" th:value="${size}" th:text="${size}" />
			</select>
			<br>

			<label for="type">Cover type</label>
			<select id="type" th:field="*{coverType}">
				<option th:each="type: ${coverTypeList}" th:value="${type}" th:text="${type}" />
			</select>
			<br>

			<label for="surface">Cover surface</label>
			<select id="surface" th:field="*{coverSurface}">
				<option th:each="surface: ${coverSurfaceList}" th:value="${surface}" th:text="${surface}" />
			</select>
			<br>

			<input type="hidden" th:field="*{id}" />
			
			<hr>

			<button type="submit" formmethod="post" th:formaction="@{/book/edit/{id}(id=${book.getId()})}">Save</button>
			<button type="submit" formmethod="get" th:formaction="@{/book/browse}" formnovalidate>Cancel</button>

		</fieldset>
	</form>
</body>

</html>