<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<form th:object="${book}" action="get">
		<fieldset>
			<legend>Book filter options</legend>

			<label for="author">Author</label>
			<input id="author" type="checkbox" name="author-flag" value="on" />
			<input id="author" type="text" th:field="*{author}" />
			<br>

			<label for="title">Title</label>
			<input id="title" type="checkbox" name="title-flag" value="on" />
			<input id="title" type="text" th:field="*{title}" />
			<br>

			<label for="isbn">ISBN</label>
			<input id="isbn" type="checkbox" name="isbn-flag" value="on" />
			<input id="isbn" type="text" th:field="*{isbn}" />
			<br>

			<label for="publishDate">Published</label>
			<input id="publishDate" type="checkbox" name="publishDate-flag" value="on" />
			<input id="publishDate" type="date" th:field="*{publishDate}" />
			<br>

			<label for="genre">Genre</label>
			<input id="genre" type="checkbox" name="genre-flag" value="on" />
			<select id="genre" th:field="*{genre}">
				<option th:each="genre: ${genreList}" th:value="${genre}" th:text="${genre}" />
			</select>
			<br>

			<label for="country">Country</label>
			<input id="country" type="checkbox" name="country-flag" value="on" />
			<select id="country" th:field="*{country}">
				<option th:each="country: ${countryList}" th:value="${country}" th:text="${country.name}" />
			</select>
			<br>

			<label for="language">Language</label>
			<input id="language" type="checkbox" name="language-flag" value="on" />
			<select id="language" th:field="*{language}">
				<option th:each="language: ${languageList}" th:value="${language}" th:text="${language.name}" />
			</select>
			<br>

			<label for="size" />Size</label>
			<input id="size" type="checkbox" name="size-flag" value="on" />
			<select id="size" th:field="*{size}">
				<option th:each="size: ${sizeList}" th:value="${size}" th:text="${size}" />
			</select>
			<br>
			
			<input type="hidden" name="originalFormURI" th:value="${returnLink}"/>

			<hr>
			<button type="submit" formmethod="get" th:formaction="@{${returnLink}}" name="action"
				value="filter">Apply</button>
			<button type="submit" formmethod="get" th:formaction="@{${returnLink}}" formnovalidate>Discard</button>
		</fieldset>

		</table>
	</form>
</body>

</html>